/.metadata
/.recommenders
/.settings
/.project
/JglTF
/jgltf-browser/.settings
/jgltf-browser/.project
/jgltf-browser/target
/jgltf-browser/.classpath
/jgltf-impl-v1/.project
/jgltf-impl-v1/.settings
/jgltf-impl-v1/target
/jgltf-impl-v1/.classpath
/jgltf-model/.project
/jgltf-model/.settings
/jgltf-model/target
/jgltf-model/.classpath
/jgltf-model/src/test/resources/testModels/testBox/output-glTF-to-glTF-Embedded
/jgltf-model/src/test/resources/testModels/testBox/output-glTF-to-glTF
/jgltf-model/src/test/resources/testModels/testBox/output-glTF-to-glTF-Binary
/jgltf-model-builder
/jgltf-converter
/target
/jgltf-obj/.classpath
/jgltf-obj/.project
/jgltf-obj/.settings
/jgltf-obj/target
/jgltf-viewer-lwjgl/.settings
/jgltf-viewer-lwjgl/.project
/jgltf-viewer-lwjgl/.classpath
/jgltf-viewer-jogl/.settings
/jgltf-viewer-jogl/.classpath
/jgltf-viewer-jogl/.project
/jgltf-viewer/.project
/jgltf-viewer/.settings
/jgltf-viewer/.classpath
/jgltf-validator/.project
/jgltf-validator/.settings
/jgltf-validator/.classpath
/jgltf-validator/target
/jgltf-viewer/target
/jgltf-viewer-jogl/target
/jgltf-viewer-lwjgl/target
/jgltf-impl-v2/.settings
/jgltf-impl-v2/.project
/jgltf-impl-v2/target
/jgltf-impl-v2/.classpath
/jgltf-impl-v2-technique-webgl/.project
/jgltf-impl-v2-technique-webgl/.settings
/jgltf-impl-v2-technique-webgl/target
/jgltf-impl-v2-technique-webgl/.classpath
/jgltf-impl-v2-technique-webgl/.gitignore
/AccessorVis
/jgltf-viewer-demo
/jgltf-viewer-lwjgl3
/jgltf2-experiments
/.ucdetector_reports
/jgltf-model/src/test/resources/testModels/v1/testBox/output-glTF-to-glTF-Embedded
/jgltf-model/src/test/resources/testModels/v1/testBox/output-glTF-to-glTF
/jgltf-model/src/test/resources/testModels/v1/testBox/output-glTF-to-glTF-Binary
/jgltf-model/src/test/resources/testModels/v2/testBox/output-glTF-to-glTF
/jgltf-model/src/test/resources/testModels/v2/testBox/output-glTF-to-glTF-Binary
/jgltf-model/src/test/resources/testModels/v2/testBox/output-glTF-to-glTF-Embedded
