/.metadata
/.recommenders
/.settings
/.project
/JglTF
/jgltf-browser/.settings
/jgltf-browser/.project
/jgltf-browser/target
/jgltf-browser/.classpath
/jgltf-impl/.project
/jgltf-impl/.settings
/jgltf-impl/target
/jgltf-impl/.classpath
/jgltf-model/.project
/jgltf-model/.settings
/jgltf-model/target
/jgltf-model/.classpath
/jgltf-model/src/test/resources/testModels/testBox/output-glTF-to-glTF-Embedded
/jgltf-model/src/test/resources/testModels/testBox/output-glTF-to-glTF
/jgltf-model/src/test/resources/testModels/testBox/output-glTF-to-glTF-Binary
/target
/jgltf-obj/.classpath
/jgltf-obj/.project
/jgltf-obj/.settings
/jgltf-obj/target
