/.metadata
/.recommenders
/.settings
/.project
/JglTF
/jgltf-browser/.settings
/jgltf-browser/.project
/jgltf-browser/target
/jgltf-browser/.classpath
/jgltf-impl/.project
/jgltf-impl/.settings
/jgltf-impl/target
/jgltf-impl/.classpath
/jgltf-model/.project
/jgltf-model/.settings
/jgltf-model/target
/jgltf-model/.classpath
/jgltf-model/src/test/resources/testModels/testBox/output-glTF-to-glTF-Embedded
/jgltf-model/src/test/resources/testModels/testBox/output-glTF-to-glTF
/jgltf-model/src/test/resources/testModels/testBox/output-glTF-to-glTF-Binary
/target
/jgltf-obj/.classpath
/jgltf-obj/.project
/jgltf-obj/.settings
/jgltf-obj/target
/jgltf-viewer-lwjgl/.settings
/jgltf-viewer-lwjgl/.project
/jgltf-viewer-lwjgl/.classpath
/jgltf-viewer-jogl/.settings
/jgltf-viewer-jogl/.classpath
/jgltf-viewer-jogl/.project
/jgltf-viewer/.project
/jgltf-viewer/.settings
/jgltf-viewer/.classpath
/jgltf-validator/.project
/jgltf-validator/.settings
/jgltf-validator/.classpath
/jgltf-validator/target
/jgltf-viewer/target
/jgltf-viewer-jogl/target
/jgltf-viewer-lwjgl/target
/jgltf2-impl/.settings
/jgltf2-impl/.project
/jgltf2-impl/target
/jgltf2-impl/.classpath
