[ {
  "label" : "Samples",
  "children" : [ {
    "label" : "Khronos Samples, v1.0",
    "children" : [ {
      "label" : "2CylinderEngine",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/2CylinderEngine/glTF/2CylinderEngine.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/2CylinderEngine/glTF-Embedded/2CylinderEngine.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/2CylinderEngine/glTF-Binary/2CylinderEngine.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/2CylinderEngine/glTF-MaterialsCommon/2CylinderEngine.gltf"
      } ]
    }, {
      "label" : "Box",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Box/glTF/Box.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Box/glTF-Embedded/Box.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Box/glTF-Binary/Box.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Box/glTF-MaterialsCommon/Box.gltf"
      } ]
    }, {
      "label" : "BoxAnimated",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxAnimated/glTF/BoxAnimated.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxAnimated/glTF-Embedded/BoxAnimated.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxAnimated/glTF-Binary/BoxAnimated.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxAnimated/glTF-MaterialsCommon/BoxAnimated.gltf"
      } ]
    }, {
      "label" : "BoxSemantics",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxSemantics/glTF/BoxSemantics.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxSemantics/glTF-Embedded/BoxSemantics.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxSemantics/glTF-Binary/BoxSemantics.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxSemantics/glTF-MaterialsCommon/BoxSemantics.gltf"
      } ]
    }, {
      "label" : "BoxTextured",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxTextured/glTF/BoxTextured.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxTextured/glTF-Embedded/BoxTextured.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxTextured/glTF-Binary/BoxTextured.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxTextured/glTF-MaterialsCommon/BoxTextured.gltf"
      } ]
    }, {
      "label" : "BoxWithoutIndices",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxWithoutIndices/glTF/BoxWithoutIndices.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxWithoutIndices/glTF-Embedded/BoxWithoutIndices.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxWithoutIndices/glTF-Binary/BoxWithoutIndices.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxWithoutIndices/glTF-MaterialsCommon/BoxWithoutIndices.gltf"
      } ]
    }, {
      "label" : "BrainStem",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BrainStem/glTF/BrainStem.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BrainStem/glTF-Embedded/BrainStem.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BrainStem/glTF-Binary/BrainStem.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BrainStem/glTF-MaterialsCommon/BrainStem.gltf"
      } ]
    }, {
      "label" : "Buggy",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Buggy/glTF/Buggy.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Buggy/glTF-Embedded/Buggy.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Buggy/glTF-Binary/Buggy.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Buggy/glTF-MaterialsCommon/Buggy.gltf"
      } ]
    }, {
      "label" : "CesiumMan",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMan/glTF/CesiumMan.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMan/glTF-Embedded/CesiumMan.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMan/glTF-Binary/CesiumMan.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMan/glTF-MaterialsCommon/CesiumMan.gltf"
      } ]
    }, {
      "label" : "CesiumMilkTruck",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMilkTruck/glTF/CesiumMilkTruck.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMilkTruck/glTF-Embedded/CesiumMilkTruck.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMilkTruck/glTF-Binary/CesiumMilkTruck.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMilkTruck/glTF-MaterialsCommon/CesiumMilkTruck.gltf"
      } ]
    }, {
      "label" : "Duck",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Duck/glTF/Duck.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Duck/glTF-Embedded/Duck.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Duck/glTF-Binary/Duck.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Duck/glTF-MaterialsCommon/Duck.gltf"
      } ]
    }, {
      "label" : "GearboxAssy",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/GearboxAssy/glTF/GearboxAssy.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/GearboxAssy/glTF-Embedded/GearboxAssy.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/GearboxAssy/glTF-Binary/GearboxAssy.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/GearboxAssy/glTF-MaterialsCommon/GearboxAssy.gltf"
      } ]
    }, {
      "label" : "Monster",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Monster/glTF/Monster.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Monster/glTF-Embedded/Monster.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Monster/glTF-Binary/Monster.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Monster/glTF-MaterialsCommon/Monster.gltf"
      } ]
    }, {
      "label" : "ReciprocatingSaw",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/ReciprocatingSaw/glTF/ReciprocatingSaw.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/ReciprocatingSaw/glTF-Embedded/ReciprocatingSaw.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/ReciprocatingSaw/glTF-Binary/ReciprocatingSaw.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/ReciprocatingSaw/glTF-MaterialsCommon/ReciprocatingSaw.gltf"
      } ]
    }, {
      "label" : "RiggedFigure",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedFigure/glTF/RiggedFigure.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedFigure/glTF-Embedded/RiggedFigure.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedFigure/glTF-Binary/RiggedFigure.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedFigure/glTF-MaterialsCommon/RiggedFigure.gltf"
      } ]
    }, {
      "label" : "RiggedSimple",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedSimple/glTF/RiggedSimple.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedSimple/glTF-Embedded/RiggedSimple.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedSimple/glTF-Binary/RiggedSimple.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedSimple/glTF-MaterialsCommon/RiggedSimple.gltf"
      } ]
    }, {
      "label" : "VC",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/VC/glTF/VC.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/VC/glTF-Embedded/VC.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/VC/glTF-Binary/VC.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/VC/glTF-MaterialsCommon/VC.gltf"
      } ]
    }, {
      "label" : "WalkingLady",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/WalkingLady/glTF/WalkingLady.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/WalkingLady/glTF-Embedded/WalkingLady.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/WalkingLady/glTF-Binary/WalkingLady.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/WalkingLady/glTF-MaterialsCommon/WalkingLady.gltf"
      } ]
    } ]
  }, {
    "label" : "Tutorial Samples",
    "children" : [ {
      "label" : "TriangleWithoutIndices",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/TriangleWithoutIndices/glTF/TriangleWithoutIndices.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/TriangleWithoutIndices/glTF-Embedded/TriangleWithoutIndices.gltf"
      } ]
    }, {
      "label" : "Triangle",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/Triangle/glTF/Triangle.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/Triangle/glTF-Embedded/Triangle.gltf"
      } ]
    }, {
      "label" : "AnimatedTriangle",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/AnimatedTriangle/glTF/AnimatedTriangle.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/AnimatedTriangle/glTF-Embedded/AnimatedTriangle.gltf"
      } ]
    }, {
      "label" : "TriangleWithSimpleMaterial",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/TriangleWithSimpleMaterial/glTF/TriangleWithSimpleMaterial.gltf"
      }, {
        "label" : "glTF-Embedded-buffer",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/TriangleWithSimpleMaterial/glTF-Embedded-buffer/TriangleWithSimpleMaterial.gltf"
      } ]
    }, {
      "label" : "SimpleMeshes",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/SimpleMeshes/glTF/SimpleMeshes.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/SimpleMeshes/glTF-Embedded/SimpleMeshes.gltf"
      } ]
    }, {
      "label" : "SimpleMeshesWithAdvancedMaterial",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/SimpleMeshesWithAdvancedMaterial/glTF/SimpleMeshesWithAdvancedMaterial.gltf"
      }, {
        "label" : "glTF-Embedded-buffer",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/SimpleMeshesWithAdvancedMaterial/glTF-Embedded-buffer/SimpleMeshesWithAdvancedMaterial.gltf"
      } ]
    }, {
      "label" : "SimpleOpacity",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/SimpleOpacity/glTF/SimpleOpacity.gltf"
      }, {
        "label" : "glTF-Embedded-buffer",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/SimpleOpacity/glTF-Embedded-buffer/SimpleOpacity.gltf"
      } ]
    }, {
      "label" : "SimpleTexture",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/SimpleTexture/glTF/SimpleTexture.gltf"
      }, {
        "label" : "glTF-Embedded-buffer",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/SimpleTexture/glTF-Embedded-buffer/SimpleTexture.gltf"
      } ]
    }, {
      "label" : "Cameras",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/Cameras/glTF/Cameras.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/Cameras/glTF-Embedded/Cameras.gltf"
      } ]
    }, {
      "label" : "SimpleSkin",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/SimpleSkin/glTF/SimpleSkin.gltf"
      }, {
        "label" : "glTF-Embedded-buffers",
        "command" : "https://raw.githubusercontent.com/javagl/gltfTutorialModels/master/SimpleSkin/glTF-Embedded-buffers/SimpleSkin.gltf"
      } ]
    } ]
  } ]
} ]