[ {
  "label" : "Samples",
  "children" : [ {
    "label" : "Khronos Samples, v1.0",
    "children" : [ {
      "label" : "Box",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Box/glTF/Box.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Box/glTF-Embedded/Box.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Box/glTF-Binary/Box.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Box/glTF-MaterialsCommon/Box.gltf"
      } ]
    }, {
      "label" : "BoxWithoutIndices",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxWithoutIndices/glTF/BoxWithoutIndices.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxWithoutIndices/glTF-Embedded/BoxWithoutIndices.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxWithoutIndices/glTF-Binary/BoxWithoutIndices.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxWithoutIndices/glTF-MaterialsCommon/BoxWithoutIndices.gltf"
      } ]
    }, {
      "label" : "BoxTextured",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxTextured/glTF/BoxTextured.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxTextured/glTF-Embedded/BoxTextured.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxTextured/glTF-Binary/BoxTextured.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxTextured/glTF-MaterialsCommon/BoxTextured.gltf"
      } ]
    }, {
      "label" : "BoxSemantics",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxSemantics/glTF/BoxSemantics.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxSemantics/glTF-Embedded/BoxSemantics.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxSemantics/glTF-Binary/BoxSemantics.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxSemantics/glTF-MaterialsCommon/BoxSemantics.gltf"
      } ]
    }, {
      "label" : "Duck",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Duck/glTF/Duck.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Duck/glTF-Embedded/Duck.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Duck/glTF-Binary/Duck.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Duck/glTF-MaterialsCommon/Duck.gltf"
      } ]
    }, {
      "label" : "Avocado",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Avocado/glTF/Avocado.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Avocado/glTF-Embedded/Avocado.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Avocado/glTF-Binary/Avocado.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Avocado/glTF-MaterialsCommon/Avocado.gltf"
      } ]
    }, {
      "label" : "BarramundiFish",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BarramundiFish/glTF/BarramundiFish.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BarramundiFish/glTF-Embedded/BarramundiFish.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BarramundiFish/glTF-Binary/BarramundiFish.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BarramundiFish/glTF-MaterialsCommon/BarramundiFish.gltf"
      } ]
    }, {
      "label" : "SmilingFace",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/SmilingFace/glTF/SmilingFace.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/SmilingFace/glTF-Embedded/SmilingFace.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/SmilingFace/glTF-Binary/SmilingFace.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/SmilingFace/glTF-MaterialsCommon/SmilingFace.gltf"
      } ]
    }, {
      "label" : "2CylinderEngine",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/2CylinderEngine/glTF/2CylinderEngine.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/2CylinderEngine/glTF-Embedded/2CylinderEngine.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/2CylinderEngine/glTF-Binary/2CylinderEngine.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/2CylinderEngine/glTF-MaterialsCommon/2CylinderEngine.gltf"
      } ]
    }, {
      "label" : "ReciprocatingSaw",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/ReciprocatingSaw/glTF/ReciprocatingSaw.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/ReciprocatingSaw/glTF-Embedded/ReciprocatingSaw.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/ReciprocatingSaw/glTF-Binary/ReciprocatingSaw.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/ReciprocatingSaw/glTF-MaterialsCommon/ReciprocatingSaw.gltf"
      } ]
    }, {
      "label" : "GearboxAssy",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/GearboxAssy/glTF/GearboxAssy.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/GearboxAssy/glTF-Embedded/GearboxAssy.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/GearboxAssy/glTF-Binary/GearboxAssy.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/GearboxAssy/glTF-MaterialsCommon/GearboxAssy.gltf"
      } ]
    }, {
      "label" : "Buggy",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Buggy/glTF/Buggy.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Buggy/glTF-Embedded/Buggy.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Buggy/glTF-Binary/Buggy.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Buggy/glTF-MaterialsCommon/Buggy.gltf"
      } ]
    }, {
      "label" : "BoxAnimated",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxAnimated/glTF/BoxAnimated.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxAnimated/glTF-Embedded/BoxAnimated.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxAnimated/glTF-Binary/BoxAnimated.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BoxAnimated/glTF-MaterialsCommon/BoxAnimated.gltf"
      } ]
    }, {
      "label" : "CesiumMilkTruck",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMilkTruck/glTF/CesiumMilkTruck.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMilkTruck/glTF-Embedded/CesiumMilkTruck.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMilkTruck/glTF-Binary/CesiumMilkTruck.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMilkTruck/glTF-MaterialsCommon/CesiumMilkTruck.gltf"
      } ]
    }, {
      "label" : "RiggedSimple",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedSimple/glTF/RiggedSimple.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedSimple/glTF-Embedded/RiggedSimple.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedSimple/glTF-Binary/RiggedSimple.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedSimple/glTF-MaterialsCommon/RiggedSimple.gltf"
      } ]
    }, {
      "label" : "RiggedFigure",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedFigure/glTF/RiggedFigure.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedFigure/glTF-Embedded/RiggedFigure.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedFigure/glTF-Binary/RiggedFigure.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/RiggedFigure/glTF-MaterialsCommon/RiggedFigure.gltf"
      } ]
    }, {
      "label" : "WalkingLady",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/WalkingLady/glTF/WalkingLady.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/WalkingLady/glTF-Embedded/WalkingLady.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/WalkingLady/glTF-Binary/WalkingLady.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/WalkingLady/glTF-MaterialsCommon/WalkingLady.gltf"
      } ]
    }, {
      "label" : "CesiumMan",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMan/glTF/CesiumMan.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMan/glTF-Embedded/CesiumMan.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMan/glTF-Binary/CesiumMan.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/CesiumMan/glTF-MaterialsCommon/CesiumMan.gltf"
      } ]
    }, {
      "label" : "Monster",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Monster/glTF/Monster.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Monster/glTF-Embedded/Monster.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Monster/glTF-Binary/Monster.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/Monster/glTF-MaterialsCommon/Monster.gltf"
      } ]
    }, {
      "label" : "BrainStem",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BrainStem/glTF/BrainStem.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BrainStem/glTF-Embedded/BrainStem.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BrainStem/glTF-Binary/BrainStem.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/BrainStem/glTF-MaterialsCommon/BrainStem.gltf"
      } ]
    }, {
      "label" : "VC",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/VC/glTF/VC.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/VC/glTF-Embedded/VC.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/VC/glTF-Binary/VC.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/1.0/VC/glTF-MaterialsCommon/VC.gltf"
      } ]
    } ]
  }, {
    "label" : "Khronos Samples, v2.0",
    "children" : [ {
      "label" : "TriangleWithoutIndices",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/TriangleWithoutIndices/glTF/TriangleWithoutIndices.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/TriangleWithoutIndices/glTF-Embedded/TriangleWithoutIndices.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/TriangleWithoutIndices/glTF-Binary/TriangleWithoutIndices.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/TriangleWithoutIndices/glTF-MaterialsCommon/TriangleWithoutIndices.gltf"
      } ]
    }, {
      "label" : "Triangle",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Triangle/glTF/Triangle.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Triangle/glTF-Embedded/Triangle.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Triangle/glTF-Binary/Triangle.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Triangle/glTF-MaterialsCommon/Triangle.gltf"
      } ]
    }, {
      "label" : "AnimatedTriangle",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedTriangle/glTF/AnimatedTriangle.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedTriangle/glTF-Embedded/AnimatedTriangle.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedTriangle/glTF-Binary/AnimatedTriangle.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedTriangle/glTF-MaterialsCommon/AnimatedTriangle.gltf"
      } ]
    }, {
      "label" : "AnimatedMorphCube",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedMorphCube/glTF/AnimatedMorphCube.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedMorphCube/glTF-Embedded/AnimatedMorphCube.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedMorphCube/glTF-Binary/AnimatedMorphCube.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedMorphCube/glTF-MaterialsCommon/AnimatedMorphCube.gltf"
      } ]
    }, {
      "label" : "AnimatedMorphSphere",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedMorphSphere/glTF/AnimatedMorphSphere.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedMorphSphere/glTF-Embedded/AnimatedMorphSphere.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedMorphSphere/glTF-Binary/AnimatedMorphSphere.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedMorphSphere/glTF-MaterialsCommon/AnimatedMorphSphere.gltf"
      } ]
    }, {
      "label" : "SimpleMeshes",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/SimpleMeshes/glTF/SimpleMeshes.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/SimpleMeshes/glTF-Embedded/SimpleMeshes.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/SimpleMeshes/glTF-Binary/SimpleMeshes.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/SimpleMeshes/glTF-MaterialsCommon/SimpleMeshes.gltf"
      } ]
    }, {
      "label" : "Cameras",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Cameras/glTF/Cameras.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Cameras/glTF-Embedded/Cameras.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Cameras/glTF-Binary/Cameras.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Cameras/glTF-MaterialsCommon/Cameras.gltf"
      } ]
    }, {
      "label" : "Box",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Box/glTF/Box.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Box/glTF-Embedded/Box.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Box/glTF-Binary/Box.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Box/glTF-MaterialsCommon/Box.gltf"
      } ]
    }, {
      "label" : "BoxTextured",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoxTextured/glTF/BoxTextured.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoxTextured/glTF-Embedded/BoxTextured.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoxTextured/glTF-Binary/BoxTextured.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoxTextured/glTF-MaterialsCommon/BoxTextured.gltf"
      } ]
    }, {
      "label" : "Duck",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Duck/glTF/Duck.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Duck/glTF-Embedded/Duck.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Duck/glTF-Binary/Duck.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Duck/glTF-MaterialsCommon/Duck.gltf"
      } ]
    }, {
      "label" : "SmilingFace",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/SmilingFace/glTF/SmilingFace.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/SmilingFace/glTF-Embedded/SmilingFace.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/SmilingFace/glTF-Binary/SmilingFace.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/SmilingFace/glTF-MaterialsCommon/SmilingFace.gltf"
      } ]
    }, {
      "label" : "2CylinderEngine",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/2CylinderEngine/glTF/2CylinderEngine.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/2CylinderEngine/glTF-Embedded/2CylinderEngine.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/2CylinderEngine/glTF-Binary/2CylinderEngine.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/2CylinderEngine/glTF-MaterialsCommon/2CylinderEngine.gltf"
      } ]
    }, {
      "label" : "ReciprocatingSaw",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/ReciprocatingSaw/glTF/ReciprocatingSaw.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/ReciprocatingSaw/glTF-Embedded/ReciprocatingSaw.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/ReciprocatingSaw/glTF-Binary/ReciprocatingSaw.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/ReciprocatingSaw/glTF-MaterialsCommon/ReciprocatingSaw.gltf"
      } ]
    }, {
      "label" : "GearboxAssy",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/GearboxAssy/glTF/GearboxAssy.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/GearboxAssy/glTF-Embedded/GearboxAssy.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/GearboxAssy/glTF-Binary/GearboxAssy.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/GearboxAssy/glTF-MaterialsCommon/GearboxAssy.gltf"
      } ]
    }, {
      "label" : "Buggy",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Buggy/glTF/Buggy.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Buggy/glTF-Embedded/Buggy.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Buggy/glTF-Binary/Buggy.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Buggy/glTF-MaterialsCommon/Buggy.gltf"
      } ]
    }, {
      "label" : "BoxAnimated",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoxAnimated/glTF/BoxAnimated.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoxAnimated/glTF-Embedded/BoxAnimated.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoxAnimated/glTF-Binary/BoxAnimated.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoxAnimated/glTF-MaterialsCommon/BoxAnimated.gltf"
      } ]
    }, {
      "label" : "CesiumMilkTruck",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/CesiumMilkTruck/glTF/CesiumMilkTruck.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/CesiumMilkTruck/glTF-Embedded/CesiumMilkTruck.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/CesiumMilkTruck/glTF-Binary/CesiumMilkTruck.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/CesiumMilkTruck/glTF-MaterialsCommon/CesiumMilkTruck.gltf"
      } ]
    }, {
      "label" : "RiggedSimple",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/RiggedSimple/glTF/RiggedSimple.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/RiggedSimple/glTF-Embedded/RiggedSimple.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/RiggedSimple/glTF-Binary/RiggedSimple.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/RiggedSimple/glTF-MaterialsCommon/RiggedSimple.gltf"
      } ]
    }, {
      "label" : "RiggedFigure",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/RiggedFigure/glTF/RiggedFigure.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/RiggedFigure/glTF-Embedded/RiggedFigure.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/RiggedFigure/glTF-Binary/RiggedFigure.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/RiggedFigure/glTF-MaterialsCommon/RiggedFigure.gltf"
      } ]
    }, {
      "label" : "WalkingLady",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/WalkingLady/glTF/WalkingLady.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/WalkingLady/glTF-Embedded/WalkingLady.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/WalkingLady/glTF-Binary/WalkingLady.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/WalkingLady/glTF-MaterialsCommon/WalkingLady.gltf"
      } ]
    }, {
      "label" : "CesiumMan",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/CesiumMan/glTF/CesiumMan.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/CesiumMan/glTF-Embedded/CesiumMan.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/CesiumMan/glTF-Binary/CesiumMan.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/CesiumMan/glTF-MaterialsCommon/CesiumMan.gltf"
      } ]
    }, {
      "label" : "Monster",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Monster/glTF/Monster.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Monster/glTF-Embedded/Monster.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Monster/glTF-Binary/Monster.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Monster/glTF-MaterialsCommon/Monster.gltf"
      } ]
    }, {
      "label" : "BrainStem",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BrainStem/glTF/BrainStem.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BrainStem/glTF-Embedded/BrainStem.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BrainStem/glTF-Binary/BrainStem.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BrainStem/glTF-MaterialsCommon/BrainStem.gltf"
      } ]
    }, {
      "label" : "VC",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/VC/glTF/VC.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/VC/glTF-Embedded/VC.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/VC/glTF-Binary/VC.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/VC/glTF-MaterialsCommon/VC.gltf"
      } ]
    }, {
      "label" : "Avocado",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Avocado/glTF/Avocado.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Avocado/glTF-Embedded/Avocado.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Avocado/glTF-Binary/Avocado.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Avocado/glTF-MaterialsCommon/Avocado.gltf"
      } ]
    }, {
      "label" : "BarramundiFish",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BarramundiFish/glTF/BarramundiFish.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BarramundiFish/glTF-Embedded/BarramundiFish.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BarramundiFish/glTF-Binary/BarramundiFish.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BarramundiFish/glTF-MaterialsCommon/BarramundiFish.gltf"
      } ]
    }, {
      "label" : "BoomBox",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoomBox/glTF/BoomBox.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoomBox/glTF-Embedded/BoomBox.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoomBox/glTF-Binary/BoomBox.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoomBox/glTF-MaterialsCommon/BoomBox.gltf"
      } ]
    }, {
      "label" : "Corset",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Corset/glTF/Corset.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Corset/glTF-Embedded/Corset.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Corset/glTF-Binary/Corset.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Corset/glTF-MaterialsCommon/Corset.gltf"
      } ]
    }, {
      "label" : "Lantern",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Lantern/glTF/Lantern.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Lantern/glTF-Embedded/Lantern.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Lantern/glTF-Binary/Lantern.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Lantern/glTF-MaterialsCommon/Lantern.gltf"
      } ]
    }, {
      "label" : "WaterBottle",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/WaterBottle/glTF/WaterBottle.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/WaterBottle/glTF-Embedded/WaterBottle.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/WaterBottle/glTF-Binary/WaterBottle.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/WaterBottle/glTF-MaterialsCommon/WaterBottle.gltf"
      } ]
    }, {
      "label" : "MetalRoughSpheres",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/MetalRoughSpheres/glTF/MetalRoughSpheres.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/MetalRoughSpheres/glTF-Embedded/MetalRoughSpheres.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/MetalRoughSpheres/glTF-Binary/MetalRoughSpheres.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/MetalRoughSpheres/glTF-MaterialsCommon/MetalRoughSpheres.gltf"
      } ]
    }, {
      "label" : "NormalTangentTest",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/NormalTangentTest/glTF/NormalTangentTest.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/NormalTangentTest/glTF-Embedded/NormalTangentTest.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/NormalTangentTest/glTF-Binary/NormalTangentTest.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/NormalTangentTest/glTF-MaterialsCommon/NormalTangentTest.gltf"
      } ]
    }, {
      "label" : "TwoSidedPlane",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/TwoSidedPlane/glTF/TwoSidedPlane.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/TwoSidedPlane/glTF-Embedded/TwoSidedPlane.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/TwoSidedPlane/glTF-Binary/TwoSidedPlane.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/TwoSidedPlane/glTF-MaterialsCommon/TwoSidedPlane.gltf"
      } ]
    }, {
      "label" : "Cube",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Cube/glTF/Cube.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Cube/glTF-Embedded/Cube.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Cube/glTF-Binary/Cube.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Cube/glTF-MaterialsCommon/Cube.gltf"
      } ]
    }, {
      "label" : "AnimatedCube",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedCube/glTF/AnimatedCube.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedCube/glTF-Embedded/AnimatedCube.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedCube/glTF-Binary/AnimatedCube.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/AnimatedCube/glTF-MaterialsCommon/AnimatedCube.gltf"
      } ]
    }, {
      "label" : "Suzanne",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Suzanne/glTF/Suzanne.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Suzanne/glTF-Embedded/Suzanne.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Suzanne/glTF-Binary/Suzanne.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Suzanne/glTF-MaterialsCommon/Suzanne.gltf"
      } ]
    }, {
      "label" : "SciFiHelmet",
      "children" : [ {
        "label" : "glTF",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/SciFiHelmet/glTF/SciFiHelmet.gltf"
      }, {
        "label" : "glTF-Embedded",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/SciFiHelmet/glTF-Embedded/SciFiHelmet.gltf"
      }, {
        "label" : "glTF-Binary",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/SciFiHelmet/glTF-Binary/SciFiHelmet.glb"
      }, {
        "label" : "glTF-MaterialsCommon",
        "command" : "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/SciFiHelmet/glTF-MaterialsCommon/SciFiHelmet.gltf"
      } ]
    } ]
  } ]
} ]